.about-page {
    display: flex;
    gap: 6rem;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    padding: 6rem 2rem;
}

.aboutme-heading p {
  text-align: center;
}

.aboutme-text-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.aboutme-text-row .aboutme-text-item:first-child {
  flex: 0 0 auto;
}

.aboutme-text-row .aboutme-text-item:last-child {
  flex: 1 1 auto;
  max-width: 60%;
}

.about-page img {
    aspect-ratio: 5 / 6;
    width: 25vw;
    width: clamp(150px, 25vw, 500px);
    height: auto;
    border-radius: 26px;
    object-fit: cover;
    flex-shrink: 0;
}

.about-page .hashtags {
    color: var(--text-primary);
}

.aboutme-text-row .aboutme-text-item h3 a {
  color: #fff;
  text-decoration: none;
}

.aboutme-text-row p {
    margin: 0;
}

.text-gap {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 1100px) {
    .aboutme-text-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }
    
  .aboutme-text-row .aboutme-text-item:first-child {
    flex: 0 0 auto;
    width: clamp(200px, 25vw, 300px);
    margin: 0 auto;
  }

  .aboutme-text-row .aboutme-text-item:last-child {
    flex: 1 1 100%;
    max-width: 90vw;
    min-width: auto;
  }
}

.logo-carousel {
  position: relative;
  margin: 4rem auto;
  width: 90%;
  max-width: 1200px;
  height: 80px;
  overflow: hidden;
}

.logo-track {
  display: flex;
  align-items: center;
  gap: 120px;
  transform: translate3d(0,0,0);
  will-change: transform;
  animation: scroll 12s linear infinite;
}

.logo-track > * {
  flex: 0 0 auto;
  width: 48px;
  height: 48px;
}

@keyframes scroll {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-160px, 0, 0);
  }
}

.logo-carousel::before,
.logo-carousel::after {
  content: "";
  position: absolute;
  top: 0; 
  bottom: 0;
  width: 160px;
  pointer-events: none;
  z-index: 2;
}

.logo-carousel::before {
  left: 0;
  background: linear-gradient(to right, #000, transparent);
}

.logo-carousel::after {
  right: 0;
  background: linear-gradient(to left, #000, transparent);
}